@import  './Helpers/mediaQueries' ;
@import  './Helpers/ceaser.scss' ;

@font-face{
    font-family: 'Mirage Bold';
    src: URL('../font/Mirage_Bold.otf') format('truetype');
}

* {
    margin-top: 0;
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #3F5C40;
    overflow-x: hidden;
    // background:   url("../assets/svg/DustBackground.png") #001219  ;
    background:    #3F5C40  ;
    font-family: 'Sea Gram', sans-serif;
    font-size: 1rem;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1.4;
    letter-spacing: 0.005em;
    position: relative;
}
