@import  '../../Helpers/flexboxLayout.scss' ;
@import  '../../Helpers/mediaQueries' ;
@import  '../../Helpers/ceaser' ;
@import  '../../Helpers/font';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  
    margin: 0;
    padding: 0;
    background-color: #3F5C40;
    overflow-x: hidden;
    background:    #3F5C40  ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1.4;
    letter-spacing: 0.005em;
    position: relative;
}