@import  '../../Helpers/flexboxLayout' ;
@import  '../../Helpers/mediaQueries' ;
@import  '../../Helpers/ceaser' ;
@import  '../../Helpers/font';

.footer{
    position: absolute;
    font-size: 3vh;
    top: 15vh;
    font-family: 'Mirage_Bold';
    animation: fadeInRight 3s 4.25s forwards  ;
    transform: rotate(-90deg);
    opacity: 0;
    padding: 0;
    margin: 0;
    p{
        padding: 0;
        margin: 0;
    }
}
a{
    padding: 0;
    margin: 0;
    text-decoration: underline solid transparent;
    color: #2C3E50; 
    transition: text-decoration 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
 }
 a:visited, a:hover{
     color: #2C3E50;
     text-decoration: underline;
     
 }
 /**
 ** Animations
 */

 @keyframes fadeInRight {
    0%{
        opacity: 0;
        right: -2%;

    }
    75%{
        opacity: 1;
        right: -2%;

    }
    100%{
        opacity: 1;
        right: -2%;
    }
 }
