@import  '../../Helpers/flexboxLayout' ;
@import  '../../Helpers/mediaQueries' ;
@import  '../../Helpers/ceaser' ;
@import  '../../Helpers/font';

.footer{
    position: absolute;
    font-size: 1.5rem;
    top: 15vh;
    right: 0vw;
    font-family: 'Mirage_Bold';
    transform: rotate(-90deg);
    
}
a{
    text-decoration: underline solid transparent;
    color: #2C3E50; 
    transition: text-decoration 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
 }
 a:visited, a:hover{
     color: #2C3E50;
     text-decoration: underline;
     
 }