/*******************************
            Flex Layout
  *******************************/
/************************************
                Flex
  *********************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexRowReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexColumnReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
              Inline
  *********************************/
.inlineRow {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inlineRowReverse {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inlineColumn {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inlineColumnReverse {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
        Wrap : align on one line or on multiple with auto resize
  *********************************/
.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexNoWrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flexWrapReverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/************************************
          Width inside the flexboc
  *********************************/
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex-8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex-9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.flex-10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.flex-11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.flex-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

/************************************
          alignment in cross axis | and main axis -
  *********************************/
.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/************************************
        self alignment 
  ************************************/
.selfStart {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.selfCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.selfEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.selfStretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

/**
*       Scrollbar
**/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/**
*       Body
**/
.questionVue {
  text-align: justify;
  font-family: 'Mirage_Bold';
}

.headerQuestion {
  position: absolute;
  background-color: #DDFEC6;
  text-align: left;
}

@media only screen and (min-width: 1201px) {
  .headerQuestion {
    font-size: 1.2vw;
    width: 40%;
    top: 10%;
    left: 10%;
    padding-block: 5%;
    padding-inline: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .headerQuestion {
    font-size: 1.4vw;
    width: 40%;
    top: 10%;
    left: 10%;
    padding-block: 5%;
    padding-inline: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .headerQuestion {
    font-size: 1.7vw;
    width: 40%;
    top: 10%;
    left: 10%;
    padding-block: 5%;
    padding-inline: 2%;
  }
}

@media only screen and (max-width: 820px) {
  .headerQuestion {
    font-size: 2.5vw;
    width: 70%;
    top: 10%;
    left: 15%;
    padding-block: 5%;
    padding-inline: 2%;
  }
}

@media only screen and (max-width: 481px) {
  .headerQuestion {
    font-size: 3.5vw;
    width: 75%;
    top: 6%;
    left: 12.5%;
    padding-block: 5%;
    padding-inline: 3%;
  }
}

.borderQuestionLeft {
  position: absolute;
  padding-block: 5%;
  width: 30vw;
  height: 7vh;
  border-left: 1px solid #2C3E50;
  -webkit-animation: borderQuestionLeftMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
          animation: borderQuestionLeftMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

@media only screen and (min-width: 1201px) {
  .borderQuestionLeft {
    left: 83%;
  }
}

@media only screen and (max-width: 1200px) {
  .borderQuestionLeft {
    left: 83%;
  }
}

@media only screen and (max-width: 1024px) {
  .borderQuestionLeft {
    left: 83%;
  }
}

@media only screen and (max-width: 820px) {
  .borderQuestionLeft {
    left: 88%;
  }
}

@media only screen and (max-width: 481px) {
  .borderQuestionLeft {
    left: 92%;
  }
}

.borderQuestionBottom {
  position: absolute;
  top: 4%;
  left: 8%;
  padding-block: 5%;
  width: 10%;
  height: 15vh;
  border-top: 1px solid #2C3E50;
  -webkit-animation: borderQuestionBottomMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
          animation: borderQuestionBottomMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

.tips {
  position: absolute;
  background-color: #D9C6A1;
  text-align: center;
}

@media only screen and (min-width: 1201px) {
  .tips {
    right: 10%;
    top: 22%;
    padding-block: 2%;
    font-size: 1.1vw;
    width: 30vw;
  }
}

@media only screen and (max-width: 1200px) {
  .tips {
    right: 10%;
    top: 22%;
    padding-block: 2%;
    font-size: 1.4vw;
    width: 30vw;
  }
}

@media only screen and (max-width: 1024px) {
  .tips {
    right: 10%;
    top: 22%;
    padding-block: 2%;
    font-size: 1.7vw;
    width: 30vw;
  }
}

@media only screen and (max-width: 820px) {
  .tips {
    right: 30%;
    top: 25vh;
    padding-block: 2%;
    font-size: 2.5vw;
    width: 40vw;
    z-index: 2;
  }
}

@media only screen and (max-width: 481px) {
  .tips {
    left: 22%;
    top: 25vh;
    padding-block: 5%;
    font-size: 3vw;
    width: 55%;
    z-index: 2;
  }
}

.answers {
  position: absolute;
  background-color: #EAFCFF;
  overflow-y: auto;
  padding-bottom: 10%;
}

@media only screen and (min-width: 1201px) {
  .answers {
    right: 10%;
    bottom: 6%;
    z-index: 1;
    font-size: 1.1vw;
    width: 30vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 1200px) {
  .answers {
    right: 10%;
    bottom: 6%;
    z-index: 1;
    font-size: 1.1vw;
    width: 30vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 1024px) {
  .answers {
    right: 10%;
    bottom: 6%;
    z-index: 1;
    font-size: 1.1vw;
    width: 30vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 820px) {
  .answers {
    right: 15%;
    top: 28vh;
    z-index: 1;
    font-size: 2.2vw;
    width: 70vw;
    height: 40vh;
  }
}

@media only screen and (max-width: 481px) {
  .answers {
    right: 7.5%;
    top: 28vh;
    z-index: 1;
    font-size: 3vw;
    width: 85vw;
    height: 50vh;
  }
}

.borderAnswerTop {
  position: absolute;
  z-index: 0;
  right: 30%;
  bottom: 15%;
  width: 12vw;
  height: 45vh;
  border-top: 1px solid #2C3E50;
  -webkit-animation: borderTopAnswerMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
          animation: borderTopAnswerMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

.borderAnswerLeft {
  position: absolute;
  z-index: 0;
  border-left: 1px solid #2C3E50;
  right: 30%;
  bottom: 35%;
  width: 12vw;
  height: 25vh;
  -webkit-animation: borderLeftAnswerMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
          animation: borderLeftAnswerMoving 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

.default, .primary, .success, .danger {
  border: 1px solid #2C3E50;
  border-collapse: collapse;
}

@media only screen and (min-width: 1201px) {
  .default, .primary, .success, .danger {
    margin-left: 10%;
    width: 50px;
    height: 50px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .default, .primary, .success, .danger {
    margin-left: 10%;
    width: 40px;
    height: 40px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .default, .primary, .success, .danger {
    margin-left: 10%;
    width: 35px;
    height: 35px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 820px) {
  .default, .primary, .success, .danger {
    margin-left: 10%;
    width: 50px;
    height: 50px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 481px) {
  .default, .primary, .success, .danger {
    margin-left: 10%;
    width: 30px;
    height: 30px;
    margin-top: 50px;
  }
}

.default {
  background-color: #D9D9D9;
}

.primary {
  background-color: #79BBFF;
}

.success {
  background-color: #C8FCB0;
}

.danger {
  background-color: #FFD1D1;
}

@media only screen and (min-width: 1201px) {
  .answerText {
    margin-top: -12%;
    margin-left: 25%;
    max-width: 20vw;
    white-space: normal;
  }
}

@media only screen and (max-width: 1200px) {
  .answerText {
    margin-top: -14%;
    margin-left: 27%;
    max-width: 20vw;
    white-space: normal;
  }
}

@media only screen and (max-width: 1024px) {
  .answerText {
    margin-top: -8%;
    margin-left: 25%;
    max-width: 50vw;
    white-space: normal;
  }
}

@media only screen and (max-width: 820px) {
  .answerText {
    margin-top: -8%;
    margin-left: 25%;
    max-width: 50vw;
    white-space: normal;
  }
}

@media only screen and (max-width: 481px) {
  .answerText {
    top: -8%;
    margin-left: 25%;
    max-width: 50vw;
    white-space: normal;
  }
}

.confirmAnswer {
  color: #2C3E50;
  position: absolute;
  z-index: 2;
  background-color: #859D75;
  border: none;
  font-family: 'Mirage_Bold';
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (min-width: 1201px) {
  .confirmAnswer {
    right: 4%;
    bottom: 2%;
    padding: 3vh;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .confirmAnswer {
    right: 4%;
    bottom: 2%;
    padding: 3vh;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .confirmAnswer {
    right: 4%;
    bottom: 2%;
    padding: 3vh;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .confirmAnswer {
    right: 4%;
    bottom: 28%;
    padding: 3vh;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 481px) {
  .confirmAnswer {
    right: 35%;
    bottom: 17%;
    padding: 3vh;
    font-size: 1rem;
  }
}

.confirmAnswer:hover {
  background-color: #55644b;
  cursor: pointer;
}

.resultContainer {
  position: absolute;
  overflow: hidden;
}

@media only screen and (min-width: 1201px) {
  .resultContainer {
    font-size: 2rem;
    width: 40vw;
    height: 10vh;
    top: 60%;
    left: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .resultContainer {
    font-size: 2rem;
    width: 40vw;
    height: 10vh;
    top: 60%;
    left: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .resultContainer {
    font-size: 2rem;
    width: 40vw;
    height: 10vh;
    top: 60%;
    left: 10%;
  }
}

@media only screen and (max-width: 820px) {
  .resultContainer {
    font-size: 1rem;
    width: 40vw;
    height: 7vh;
    top: 70%;
    left: 28%;
  }
}

@media only screen and (max-width: 481px) {
  .resultContainer {
    font-size: 1rem;
    width: 40vw;
    height: 7vh;
    top: 80%;
    left: 30%;
  }
}

.resultLink {
  font-family: 'Mirage_Bold';
  position: absolute;
  background-color: #D9C6A1;
  overflow: hidden;
  border: none;
  border-left: 1px solid #2C3E50;
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (min-width: 1201px) {
  .resultLink {
    font-size: 3rem;
    width: 40vw;
    left: 85%;
    padding: 1vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 1200px) {
  .resultLink {
    font-size: 3rem;
    width: 40vw;
    left: 85%;
    padding: 1vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 1024px) {
  .resultLink {
    font-size: 3rem;
    width: 40vw;
    left: 85%;
    padding: 1vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 820px) {
  .resultLink {
    font-size: 1.5rem;
    width: 40vw;
    left: 85%;
    padding: 1vw;
    height: 7vh;
  }
}

@media only screen and (max-width: 481px) {
  .resultLink {
    font-size: 1.5rem;
    width: 40vw;
    left: 85%;
    padding: 1vw;
    height: 7vh;
  }
}

.resultLink:hover .svgQuestion {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0%;
}

.resultLink:hover {
  left: 0%;
}

.result {
  position: absolute;
  text-align: center;
  background-color: #FFECC7;
}

@media only screen and (min-width: 1201px) {
  .result {
    width: 40vw;
    padding: 1vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 1200px) {
  .result {
    width: 40vw;
    padding: 1vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 1024px) {
  .result {
    width: 40vw;
    padding: 1vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 820px) {
  .result {
    width: 40vw;
    padding-top: 3vw;
    height: 7vh;
  }
}

@media only screen and (max-width: 481px) {
  .result {
    width: 40vw;
    padding-top: 3vw;
    height: 7vh;
  }
}

.arrow {
  width: 100%;
  height: 100%;
}

.svgQuestion {
  position: absolute;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #2C3E50;
}

@media only screen and (min-width: 1201px) {
  .svgQuestion {
    left: 3%;
    top: 0%;
    width: 2.5vw;
    height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .svgQuestion {
    left: 3%;
    top: 0%;
    width: 2.5vw;
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .svgQuestion {
    left: 3%;
    top: 0%;
    width: 2.5vw;
    height: 100%;
  }
}

@media only screen and (max-width: 820px) {
  .svgQuestion {
    left: 3%;
    top: 0%;
    width: 3.7vw;
    height: 100%;
  }
}

@media only screen and (max-width: 481px) {
  .svgQuestion {
    left: 3%;
    top: 0%;
    width: 2.5vw;
    height: 100%;
  }
}

/**
*       Animation
**/
@-webkit-keyframes borderLeftAnswerMoving {
  0% {
    bottom: 33%;
  }
  50% {
    bottom: 35%;
  }
  100% {
    bottom: 33%;
  }
}
@keyframes borderLeftAnswerMoving {
  0% {
    bottom: 33%;
  }
  50% {
    bottom: 35%;
  }
  100% {
    bottom: 33%;
  }
}

@-webkit-keyframes borderTopAnswerMoving {
  0% {
    right: 28%;
  }
  50% {
    right: 30%;
  }
  100% {
    right: 28%;
  }
}

@keyframes borderTopAnswerMoving {
  0% {
    right: 28%;
  }
  50% {
    right: 30%;
  }
  100% {
    right: 28%;
  }
}

@-webkit-keyframes borderQuestionLeftMoving {
  0% {
    top: 4%;
  }
  50% {
    top: 6%;
  }
  100% {
    top: 4%;
  }
}

@keyframes borderQuestionLeftMoving {
  0% {
    top: 4%;
  }
  50% {
    top: 6%;
  }
  100% {
    top: 4%;
  }
}

/**
*  Border Question
**/
@media only screen and (min-width: 1201px) {
  @-webkit-keyframes borderQuestionBottomMoving {
    0% {
      left: 73%;
    }
    50% {
      left: 68%;
    }
    100% {
      left: 73%;
    }
  }
  @keyframes borderQuestionBottomMoving {
    0% {
      left: 73%;
    }
    50% {
      left: 68%;
    }
    100% {
      left: 73%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  @-webkit-keyframes borderQuestionBottomMoving {
    0% {
      left: 42%;
    }
    50% {
      left: 40%;
    }
    100% {
      left: 42%;
    }
  }
  @keyframes borderQuestionBottomMoving {
    0% {
      left: 42%;
    }
    50% {
      left: 40%;
    }
    100% {
      left: 42%;
    }
  }
}

@media only screen and (max-width: 820px) {
  @-webkit-keyframes borderQuestionBottomMoving {
    0% {
      left: 78%;
    }
    50% {
      left: 76%;
    }
    100% {
      left: 78%;
    }
  }
  @keyframes borderQuestionBottomMoving {
    0% {
      left: 78%;
    }
    50% {
      left: 76%;
    }
    100% {
      left: 78%;
    }
  }
}

@media only screen and (max-width: 481px) {
  @-webkit-keyframes borderQuestionBottomMoving {
    0% {
      left: 82%;
    }
    50% {
      left: 80%;
    }
    100% {
      left: 82%;
    }
  }
  @keyframes borderQuestionBottomMoving {
    0% {
      left: 82%;
    }
    50% {
      left: 80%;
    }
    100% {
      left: 82%;
    }
  }
}
/*# sourceMappingURL=Question.css.map */