/*******************************
            Flex Layout
  *******************************/
/************************************
                Flex
  *********************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexRowReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexColumnReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
              Inline
  *********************************/
.inlineRow {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inlineRowReverse {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inlineColumn {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inlineColumnReverse {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
        Wrap : align on one line or on multiple with auto resize
  *********************************/
.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexNoWrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flexWrapReverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/************************************
          Width inside the flexboc
  *********************************/
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex-8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex-9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.flex-10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.flex-11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.flex-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

/************************************
          alignment in cross axis | and main axis -
  *********************************/
.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/************************************
        self alignment 
  ************************************/
.selfStart {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.selfCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.selfEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.selfStretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@font-face {
  font-family: 'Mirage_Bold';
  src: URL("../../font/Mirage_Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Mirage_Regular';
  src: URL("../../font/Mirage_Regular.otf") format("truetype");
}

/**
*   Style
**/
.headers {
  overflow: hidden;
  line-height: 1.4;
  letter-spacing: 0.005em;
  position: absolute;
  top: 7vh;
  left: 10%;
  height: 55vh;
  width: 25%;
  text-align: left;
  font-family: 'Mirage_Bold';
  background-color: #FFECC7;
  font-size: 2vw;
  white-space: break-spaces;
  padding: 2%;
}

.headersDynamics {
  overflow: hidden;
  line-height: 1.4;
  letter-spacing: 0.005em;
  position: absolute;
  left: 70%;
  top: 40%;
  height: 55vh;
  width: 25%;
  text-align: right;
  font-family: 'Mirage_Bold';
  background-color: #EAFCFF;
  font-size: 2vw;
  padding: 2%;
  vertical-align: bottom;
}

.groupedHeaders {
  -webkit-animation: textAppears 2.5s cubic-bezier(0.86, 0, 0.07, 1);
          animation: textAppears 2.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.groupedHeadersDynamics {
  vertical-align: bottom;
  -webkit-animation: textAppearsLoop 6.5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
          animation: textAppearsLoop 6.5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

/**
*   Static headers borders
**/
.ghostBordersRight {
  border-right: 1px #2C3E50 solid;
  position: absolute;
  left: 12%;
  top: 43%;
  height: 15vh;
  width: 25%;
  text-align: left;
  font-size: 2.5rem;
  white-space: break-spaces;
  padding: 2%;
  -webkit-animation: borderRight 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
          animation: borderRight 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

.ghostBordersBottom {
  border-bottom: 1px #2C3E50 solid;
  position: absolute;
  top: 39%;
  height: 27.5vh;
  width: 8vw;
  text-align: left;
  font-size: 2.5rem;
  white-space: break-spaces;
  padding: 2%;
  -webkit-animation: borderBottom 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
          animation: borderBottom 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

/**
*   Dynamics headers borders
**/
.ghostBordersSecondRight {
  border-right: 1px #2C3E50 solid;
  position: absolute;
  left: 43%;
  top: 43%;
  height: 15vh;
  width: 25%;
  text-align: left;
  font-size: 2.5rem;
  white-space: break-spaces;
  padding: 2%;
  -webkit-animation: borderSecondRight 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
          animation: borderSecondRight 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

.ghostBordersSecondTop {
  border-top: 1px #2C3E50 solid;
  position: absolute;
  left: 72%;
  top: 37%;
  height: 15vh;
  width: 8vw;
  text-align: left;
  font-size: 2.5rem;
  white-space: break-spaces;
  padding: 2%;
  -webkit-animation: borderSecondTop 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
          animation: borderSecondTop 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

.options {
  position: absolute;
  overflow: hidden;
  left: 10%;
  top: 70%;
  height: 25vh;
  width: 40%;
  text-align: right;
  font-family: 'Mirage_Bold';
  background-color: #DDFEC6;
  font-size: 1.5rem;
  white-space: break-spaces;
  padding: 2%;
}

.ghostBordersOptionsLeft {
  border-left: 1px #2C3E50 solid;
  position: absolute;
  left: 8.5%;
  top: 82%;
  height: 10vh;
  width: 8vw;
  text-align: left;
  font-size: 2.5rem;
  white-space: break-spaces;
  padding: 2%;
  -webkit-animation: borderOptionsLeft 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
          animation: borderOptionsLeft 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

.ghostBordersOptionsBottom {
  border-top: 1px #2C3E50 solid;
  position: absolute;
  left: 11.5%;
  top: 98%;
  height: 15vh;
  width: 6vw;
  text-align: left;
  font-size: 2.5rem;
  white-space: break-spaces;
  padding: 2%;
  -webkit-animation: bordersOptionsBottom 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
          animation: bordersOptionsBottom 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

.category {
  position: absolute;
  left: 2vw;
  text-align: left;
}

.tag {
  position: absolute;
  top: 35%;
  left: 5vw;
  text-align: left;
}

.difficulty {
  position: absolute;
  top: 35%;
  left: 25vw;
  text-align: rigth;
}

select {
  line-height: 1.4;
  letter-spacing: 0.005em;
  margin-top: 2vh;
  background-color: #859D75;
  border-color: #859D75;
  font-family: 'Mirage_Bold';
  width: 10vw;
  font-size: 1.45rem;
  -webkit-transition: background-color 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: background-color 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 8.5vw center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-inline: 0.5vw;
  -webkit-animation: fadeIn 3.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) normal;
          animation: fadeIn 3.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) normal;
}

select option {
  border-color: #859D75;
}

select:hover {
  background-color: #6c815e;
}

select:active, select:focus {
  border-color: #859D75;
  outline: none;
}

.questionLink {
  position: absolute;
  right: 40vw;
  margin-top: 43.5vh;
  border: none;
  background-color: #859D75;
  padding: 5vh;
  font-family: 'Mirage_Bold';
  font-size: 1.5rem;
  -webkit-transition: background-color 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: background-color 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.questionLink:hover {
  background-color: #5f7253;
}

.questionLink a:active {
  -webkit-animation: beat 1s ease-in-out backwards;
          animation: beat 1s ease-in-out backwards;
}

.test a:active {
  -webkit-animation: beat 1s ease-in-out backwards;
          animation: beat 1s ease-in-out backwards;
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          animation: fadeIn 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/*
**  Animations Keyframes
*/
@-webkit-keyframes textAppears {
  0% {
    opacity: 0;
    margin-top: 100vh;
  }
  80% {
    opacity: 1;
    margin-top: 0vh;
  }
  100% {
    opacity: 1;
    margin-top: 0vh;
  }
}
@keyframes textAppears {
  0% {
    opacity: 0;
    margin-top: 100vh;
  }
  80% {
    opacity: 1;
    margin-top: 0vh;
  }
  100% {
    opacity: 1;
    margin-top: 0vh;
  }
}

@-webkit-keyframes textAppearsLoop {
  0% {
    opacity: 0;
    margin-top: 100vh;
  }
  50% {
    opacity: 1;
    margin-top: 15vh;
  }
  80% {
    opacity: 1;
    margin-top: 15vh;
  }
  100% {
    opacity: 0;
    margin-top: 100vh;
  }
}

@keyframes textAppearsLoop {
  0% {
    opacity: 0;
    margin-top: 100vh;
  }
  50% {
    opacity: 1;
    margin-top: 15vh;
  }
  80% {
    opacity: 1;
    margin-top: 15vh;
  }
  100% {
    opacity: 0;
    margin-top: 100vh;
  }
}

@-webkit-keyframes textSwitch {
  0% {
    opacity: 1;
    margin-top: 15vh;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: 100vh;
    display: none;
  }
}

@keyframes textSwitch {
  0% {
    opacity: 1;
    margin-top: 15vh;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: 100vh;
    display: none;
  }
}

@-webkit-keyframes textSwitchAlternate {
  0% {
    opacity: 0;
    margin-top: 100vh;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 15vh;
  }
}

@keyframes textSwitchAlternate {
  0% {
    opacity: 0;
    margin-top: 100vh;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 15vh;
  }
}

@-webkit-keyframes borderRight {
  0% {
    top: 48%;
  }
  50% {
    top: 51.5%;
  }
  100% {
    top: 48%;
  }
}

@keyframes borderRight {
  0% {
    top: 48%;
  }
  50% {
    top: 51.5%;
  }
  100% {
    top: 48%;
  }
}

@-webkit-keyframes borderBottom {
  0% {
    right: 64%;
  }
  50% {
    right: 63%;
  }
  100% {
    right: 64%;
  }
}

@keyframes borderBottom {
  0% {
    right: 64%;
  }
  50% {
    right: 63%;
  }
  100% {
    right: 64%;
  }
}

@-webkit-keyframes borderSecondRight {
  0% {
    top: 40%;
  }
  50% {
    top: 37%;
  }
  100% {
    top: 40%;
  }
}

@keyframes borderSecondRight {
  0% {
    top: 40%;
  }
  50% {
    top: 37%;
  }
  100% {
    top: 40%;
  }
}

@-webkit-keyframes borderSecondTop {
  0% {
    left: 70%;
  }
  50% {
    left: 68%;
  }
  100% {
    left: 70%;
  }
}

@keyframes borderSecondTop {
  0% {
    left: 70%;
  }
  50% {
    left: 68%;
  }
  100% {
    left: 70%;
  }
}

@-webkit-keyframes borderOptionsLeft {
  0% {
    top: 86%;
  }
  50% {
    top: 88%;
  }
  100% {
    top: 86%;
  }
}

@keyframes borderOptionsLeft {
  0% {
    top: 86%;
  }
  50% {
    top: 88%;
  }
  100% {
    top: 86%;
  }
}

@-webkit-keyframes bordersOptionsBottom {
  0% {
    left: 10.5%;
  }
  50% {
    left: 8.5%;
  }
  100% {
    left: 10.5%;
  }
}

@keyframes bordersOptionsBottom {
  0% {
    left: 10.5%;
  }
  50% {
    left: 8.5%;
  }
  100% {
    left: 10.5%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Quizz.css.map */