@import  '../../Helpers/flexboxLayout.scss' ;
@import  '../../Helpers/mediaQueries' ;
@import  '../../Helpers/ceaser' ;
/**
*   Style
**/ 
.headers{
    position: absolute;
    overflow: hidden;
    line-height: 1.4;
    letter-spacing: 0.005em;
    text-align: left;
    font-family: 'Mirage_Bold';
    background-color: #FFECC7;
    white-space: break-spaces;
    @media only screen and (min-width: 1201px) {
        top: 7vh;
        left: 10%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
    }
    @media only screen and (max-width: 1200px) {
        top: 7vh;
        left: 10%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
        }
    @media only screen and (max-width: 1024px) {
        top: 7vh;
        left: 10%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
        }
    @media only screen and (max-width: 820px) {
        top: 7vh;
        left: 10%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
        }
    @media only screen and (max-width: 481px) {
        top: 7vh;
        left: 10%;
        height: 25vh;
        width: 60vw;
        font-size: 4vw;
        padding: 2%;
        }
    
}

.headersDynamics{
    position: absolute;
    overflow: hidden;
    line-height: 1.4;
    letter-spacing: 0.005em;
    
    text-align: right;
    font-family: 'Mirage_Bold';
    background-color: #EAFCFF;
    
    vertical-align: bottom;
    @media only screen and (min-width: 1201px) {
        left: 70%;
        top: 40%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
    }
    @media only screen and (max-width: 1200px) {
        left: 70%;
        top: 40%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
    }
    @media only screen and (max-width: 1024px) {
        left: 70%;
        top: 40%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
    }
    @media only screen and (max-width: 820px) {
        left: 70%;
        top: 40%;
        height: 55vh;
        width: 25%;
        font-size: 2vw;
        padding: 2%;
    }
    @media only screen and (max-width: 481px) {
        left: 30%;
        top: 40%;
        height: 25vh;
        width: 60vw;
        font-size: 4vw;
        padding: 2%;
    }
}
.groupedHeaders{
    animation:  textAppears 2.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) ;
}
.groupedHeadersDynamics{
    vertical-align: bottom;
    animation: textAppearsLoop 6.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) infinite ;
}

/**
*   Static headers borders
**/
.ghostBordersRight{
    border-right: 1px #2C3E50 solid ;
    position: absolute;
    text-align: left;
    white-space: break-spaces;
    animation: borderRight 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite ;
    @media only screen and (min-width: 1201px) {
        left: 12%;
        top: 43%;
        height: 15vh;
        width: 25%;
        padding: 2%;
    }
    @media only screen and (max-width: 1200px) {
        left: 12%;
        top: 43%;
        height: 15vh;
        width: 25%;
        padding: 2%;
    }
    @media only screen and (max-width: 1024px) {
        left: 12%;
        top: 43%;
        height: 15vh;
        width: 25%;
        padding: 2%;
    }
    @media only screen and (max-width: 820px) {
        left: 12%;
        top: 43%;
        height: 15vh;
        width: 25%;
        padding: 2%;
    }
    @media only screen and (max-width: 481px) {
        left: 50%;
        top: 13%;
        height: 15vh;
        width: 25%;
        padding: 2%;
    }
}

.ghostBordersBottom{
    border-bottom: 1px #2C3E50 solid ;
    position: absolute;
    text-align: left;
    white-space: break-spaces;
    animation: borderBottom 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;

    
    @media only screen and (min-width: 1201px) {
        top: 39%;
        height: 27.5vh;
        width: 8vw;
        padding: 2%;
    }
    @media only screen and (max-width: 1200px) {
        top: 39%;
        height: 27.5vh;
        width: 8vw;
        padding: 2%;
    }
    @media only screen and (max-width: 1024px) {
        top: 39%;
        height: 27.5vh;
        width: 8vw;
        padding: 2%;
    }
    @media only screen and (max-width: 820px) {
        top: 39%;
        height: 27.5vh;
        width: 8vw;
        padding: 2%;
    }
    @media only screen and (max-width: 481px) {
        top: 7%;
        height: 27.5vh;
        width: 8vw;
        padding: 2%;
    }

}

/**
*   Dynamics headers borders
**/
.ghostBordersSecondRight{
    border-right: 1px #2C3E50 solid ;
    position: absolute;
    text-align: left;
    white-space: break-spaces;
    animation: borderSecondRight 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
    @media only screen and (min-width: 1201px) {
        left: 43%;
        top: 43%;
        height: 15vh;
        padding: 2%;
        width: 25%;
    }
    @media only screen and (max-width: 1200px) {
        left: 43%;
        top: 43%;
        height: 15vh;
        padding: 2%;
        width: 25%;
    }
    @media only screen and (max-width: 1024px) {
        left: 43%;
        top: 43%;
        height: 15vh;
        padding: 2%;
        width: 25%;
    }
    @media only screen and (max-width: 820px) {
        left: 43%;
        top: 43%;
        height: 15vh;
        padding: 2%;
        width: 25%;
    }
    @media only screen and (max-width: 481px) {
        left: 0%;
        top: 43%;
        height: 15vh;
        padding: 2%;
        width: 25%;
    }

}

.ghostBordersSecondTop{
    border-top: 1px #2C3E50 solid ;
    position: absolute;
    text-align: left;
    white-space: break-spaces;
    animation: borderSecondTop 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
    @media only screen and (min-width: 1201px) {
        left: 72%;
        top: 37%;
        height: 15vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 1200px) {
        left: 72%;
        top: 37%;
        height: 15vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 1024px) {
        left: 72%;
        top: 37%;
        height: 15vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 820px) {
        left: 72%;
        top: 37%;
        height: 15vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 481px) {
        left: 72%;
        top: 37%;
        height: 15vh;
        padding: 2%;
        width: 8vw;
    }

}

.options{
    position: absolute;
    overflow: hidden;
    
    text-align: right;

    font-family: 'Mirage_Bold';
    background-color: #DDFEC6;
    white-space: break-spaces;
    @media only screen and (min-width: 1201px) {
        left: 10%;
        top: 70%;
        height: 25vh;
        padding: 2%;
        width: 40%;
    }
    @media only screen and (max-width: 1200px) {
        left: 10%;
        top: 70%;
        height: 25vh;
        padding: 2%;
        width: 40%;
    }
    @media only screen and (max-width: 1024px) {
        left: 10%;
        top: 70%;
        height: 25vh;
        padding: 2%;
        width: 40%;
    }
    @media only screen and (max-width: 820px) {
        left: 10%;
        top: 70%;
        height: 25vh;
        padding: 2%;
        width: 40%;
    }
    @media only screen and (max-width: 481px) {
        left: 10%;
        top: 70%;
        height: 25vh;
        padding: 2%;
        width: 60%;
    }
}
.ghostBordersOptionsLeft{
    border-left: 1px #2C3E50 solid ;
    position: absolute;
    text-align: left;
    white-space: break-spaces;
    animation: borderOptionsLeft 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
    @media only screen and (min-width: 1201px) {
        left: 8.5%;
        top: 82%;
        height: 10vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 1200px) {
        left: 8.5%;
        top: 82%;
        height: 10vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 1024px) {
        left: 8.5%;
        top: 82%;
        height: 10vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 820px) {
        left: 8.5%;
        top: 82%;
        height: 10vh;
        padding: 2%;
        width: 8vw;
    }
    @media only screen and (max-width: 481px) {
        left: 6.5%;
        top: 82%;
        height: 10vh;
        padding: 2%;
        width: 8vw;
    }
}

.ghostBordersOptionsBottom{
    border-top: 1px #2C3E50 solid ;
    position: absolute;
   
    text-align: left;
    white-space: break-spaces;
    animation: bordersOptionsBottom 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
    @media only screen and (min-width: 1201px) {
        left: 11.5%;
        top:98%;
        height: 15vh;
        padding: 2%;
        width: 6vw;
    }
    @media only screen and (max-width: 1200px) {
        left: 11.5%;
        top:98%;
        height: 15vh;
        padding: 2%;
        width: 6vw;
    }
    @media only screen and (max-width: 1024px) {
        left: 11.5%;
        top:98%;
        height: 15vh;
        padding: 2%;
        width: 6vw;
    }
    @media only screen and (max-width: 820px) {
        left: 11.5%;
        top:98%;
        height: 15vh;
        padding: 2%;
        width: 6vw;
    }
    @media only screen and (max-width: 481px) {
        left: 11.5%;
        top:98%;
        height: 15vh;
        padding: 2%;
        width: 6vw;
    }
}

.category{
    position: absolute;
    text-align: left;
    @media only screen and (min-width: 1201px) {
        left: 2vw;
    }
    @media only screen and (max-width: 1200px) {
        left: 2vw;
    }
    @media only screen and (max-width: 1024px) {
        left: 15vw;
    }
    @media only screen and (max-width: 820px) {

        left: 2vw;
    }
    @media only screen and (max-width: 481px) {
        left: 2vw;
    }
}
.tag{
    position: absolute;
    text-align: left;
    @media only screen and (min-width: 1201px) {
        top: 35%;
        left: 5vw;
    }
    @media only screen and (max-width: 1200px) {
        top: 35%;
        left: 5vw;
    }
    @media only screen and (max-width: 1024px) {
        top: 20%;
        left: 11vw;
    }
    @media only screen and (max-width: 820px) {
        top: 20%;
        left: 11vw;
    }
    @media only screen and (max-width: 481px) {
        top: 15%;
        left: 9vw;
    }
}
.difficulty{
    position: absolute;
    text-align: right;
    @media only screen and (min-width: 1201px) {
        top: 35%;
        left: 22vw;
    }
    @media only screen and (max-width: 1200px) {
        top: 35%;
        left: 23vw;
    }
    @media only screen and (max-width: 1024px) {
        top: 55%;
        left: 11vw;
    }
    @media only screen and (max-width: 820px) {
        top: 55%;
        left: 11vw;
    }
    @media only screen and (max-width: 481px) {
        top: 55%;
        left: 9vw;
    }
}
select{
    line-height: 1.4;
    letter-spacing: 0.005em;
    background-color: #859D75;
    border-color: #859D75;
    font-family: 'Mirage_Bold';
    transition: background-color 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    appearance: none;
    animation: fadeIn 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) normal;
    @media only screen and (min-width: 1201px) {
        background-position: 11vw center;
        margin-top: 2vh;
        width: 13vw;
        padding-inline: 0.5vw;
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 1200px) {
        margin-top: 2vh;
        width: 13vw;
        background-position: 11vw center;
        padding-inline: 0.5vw;
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 1024px) {
        margin-top: 2vh;
        width: 19vw;
        background-position: 16vw center;
        padding-inline: 0.5vw;
        font-size: 1.35rem;
    }
    @media only screen and (max-width: 820px) {
        margin-top: 2vh;
        width: 19vw;
        background-position: 15vw center;
        padding-inline: 0.5vw;
        font-size: 1.35rem;
    }
    @media only screen and (max-width: 481px) {
        margin-top: 2vh;
        width: 40vw;
        background-position: 35vw center;
        padding-inline: 0.5vw;
        font-size: 1.45rem;
    }
    option{
        border-color: #859D75;
    }
}
select:hover{
    background-color: #6c815e;

}
select:active, select:focus{
    border-color: #859D75;
    outline:none;
}


.questionLink{
    position: absolute;
    border: none;
    background-color: #859D75;
    font-family: 'Mirage_Bold';
    transition: background-color 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    @media only screen and (min-width: 1201px) {
        right: 38vw;
        margin-top: 43.5vh;
        padding: 5vh;
        font-size: 1.5rem;
        width: 20vw;
    }
    @media only screen and (max-width: 1200px) {
        right: 38vw;
        margin-top: 43.5vh;
        padding: 5vh;
        font-size: 1.4rem;
    }
    @media only screen and (max-width: 1024px) {
        right: 35vw;
        margin-top: 43.5vh;
        padding: 4vh;
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 820px) {
        right: 30vw;
        margin-top: 17.5vh;
        padding: 1.5vh;
        font-size: 1.25rem;
    }
    @media only screen and (max-width: 481px) {
        right: 10vw;
        margin-top: 70vh;
        font-size: 1rem;
        height: 25vh;
        width: 80px;
    }
}
.questionLink:hover{
    background-color: #5f7253;
}
.questionLink a:active{
    animation: beat 1s ease-in-out backwards;

}
.test a:active{
    animation: beat 1s ease-in-out backwards;

}
@keyframes beat {
    0% {
              transform: scale(1, 1);
    }
    100% {
              transform: scale(0.5, 0.5);
    }
  }
.fadeIn{
    animation: fadeIn 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) ;
}

/*
**  Animations Keyframes
*/

@keyframes textAppears {
    0%{
        opacity: 0;
        margin-top: 100vh
    }
    80%{
        opacity: 1;
        margin-top: 0vh
    }
    100%{
        opacity: 1;
        margin-top: 0vh
    }
}
@media only screen and (min-width: 1025px) {
    @keyframes textAppearsLoop {
        0%{
            opacity: 0;
            margin-top: 100vh
        }
        50%{
            opacity: 1;
            margin-top: 15vh
        }
        80%{
            opacity: 1;
            margin-top: 15vh
        }
        100%{
            opacity: 0;
            margin-top: 100vh
        }
    }
}
@media only screen and (max-width: 1024px) {
    @keyframes textAppearsLoop {
        0%{
            opacity: 0;
            margin-top: 100vh
        }
        50%{
            opacity: 1;
            margin-top: 32vh
        }
        80%{
            opacity: 1;
            margin-top: 32vh
        }
        100%{
            opacity: 0;
            margin-top: 100vh
        }
    }
}
@media only screen and (max-width: 820px) {
    @keyframes textAppearsLoop {
        0%{
            opacity: 0;
            margin-top: 100vh
        }
        50%{
            opacity: 1;
            margin-top: 30vh
        }
        80%{
            opacity: 1;
            margin-top: 30vh
        }
        100%{
            opacity: 0;
            margin-top: 100vh
        }
    }
}
@media only screen and (max-width: 481px) {
    @keyframes textAppearsLoop {
        0%{
            opacity: 0;
            margin-top: 100vh
        }
        50%{
            opacity: 1;
            margin-top: 6vh
        }
        80%{
            opacity: 1;
            margin-top: 6vh
        }
        100%{
            opacity: 0;
            margin-top: 100vh
        }
    }
}


@keyframes textSwitch {
    0%{
        opacity: 1;
        margin-top: 15vh;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        margin-top: 100vh;
        display: none;
    }
}
@keyframes textSwitchAlternate {
    0%{
        opacity: 0;
        margin-top: 100vh;
    }
    85%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-top: 15vh;
    }
}
@media only screen and (max-width: 481px) {
    /**
    *   Static Header Border
    **/
    @keyframes borderRight {
        0%{
            top: 19.5%;
        }
        50%{
            top: 17%;
        }
        100%{
            top: 19.5%;
        }
    }
    @keyframes borderBottom {
        0%{
            right: 25%;
        }
        50%{
            right: 27%;
    
        }
        100%{
            right: 25%;
        }
    }
    /**
    *   Dynamic Header Border
    **/
    @keyframes borderSecondRight {
        0%{
            top: 40%;
        }
        50%{
            top: 37%;
    
        }
        100%{
            top: 40%;
        }
    }
    @keyframes borderSecondTop {
        0%{
            left: 27%;
        }
        50%{
            left:25%;
    
        }
        100%{
            left: 27%;
        }
    }
    /**
    * Option Borders
    **/
    @keyframes borderOptionsLeft {
        0%{
            top: 86%;
        }
        50%{
            top: 88%;
        }
        100%{
            top: 86%;
        }
    }
    @keyframes bordersOptionsBottom {
        0%{
            left: 8.5%;
        }
        50%{
            left: 6.5%;
        }
        100%{
            left: 8.5%;
        }
    }
}
@media only screen and (min-width: 482px) {
    /**
    *   Static Header Border
    **/
    @keyframes borderRight {
        0%{
            top: 48%;
        }
        50%{
            top: 51.5%;
        }
        100%{
            top: 48%;
        }
    }
    @keyframes borderBottom {
        0%{
            right: 64%;
        }
        50%{
            right: 63%;
    
        }
        100%{
            right: 64%;
        }
    }
    /**
    *   Dynamic Header Border
    **/
    @keyframes borderSecondRight {
        0%{
            top: 40%;
        }
        50%{
            top: 37%;
    
        }
        100%{
            top: 40%;
        }
    }
    @keyframes borderSecondTop {
        0%{
            left: 70%;
        }
        50%{
            left: 68%;
    
        }
        100%{
            left: 70%;
        }
    }
    /**
    * Option Borders
    **/
    @keyframes borderOptionsLeft {
        0%{
            top: 86%;
        }
        50%{
            top: 88%;
        }
        100%{
            top: 86%;
        }
    }
    @keyframes bordersOptionsBottom {
        0%{
            left: 10.5%;
        }
        50%{
            left: 8.5%;
        }
        100%{
            left: 10.5%;
        }
    }
}




@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
