@import  '../../Helpers/flexboxLayout.scss' ;
@import  '../../Helpers/mediaQueries' ;
@import  '../../Helpers/ceaser' ;

.HeaderResult{
    position: absolute;
    top: 10%;
    margin-bottom: 2%;
    padding: 2%;
    width: 50%;
    left: 30%;
    text-align: center;
    font-family: 'Mirage_Bold';
    font-size: 3vw;
    background-color: #FFECC7;

}
.textResult{
    margin: auto;
    padding-top: 2%;
    width: 100%;
    text-align: center;
    font-family: 'Mirage_Bold';
    font-size: 1.5vw;
}
.review{
    position: absolute;
    top: 45%;
    height: 45vh;
    width: 40vw;
    left: 30%;
    background-color: #DDFEC6;
    overflow-y: auto;
}
.headerReview{
    margin-top: 7vh;
    padding: 2.5%;
    width: 100%;
    left: 30%;
    text-align: center;
    font-family: 'Mirage_Bold';
    font-size: 2vw;
}

.questionReviewed{
    width: 22.5vw;
    height: auto;
    font-size:2rem;
}
.questionNumber{
    margin-left: -15%;

}
.svgResult{
    margin-left: 100%; 
    margin-top: -10%;   
    fill: #2C3E50;
    
    width: 2vw;
    height: auto;
}
.svgResult .arrow{
    transform: rotate(90deg);
    transition: 2s;
}
.questionReviewed:hover .svgResult .arrow{
    transform: rotate(-90deg);
}

.restart{
    position: absolute;
    right: 20%;
    top: 45%;
    width : 9.5vw;
    height: 45vh;
    background-color: #EAFCFF;
    font-family: 'Mirage_Bold';
    font-size: 1.5vw;
    text-align: center;
    transition: 2s;
}
.restart:hover{
    background-color: #9dd5df;
}
.textRestart{
    margin-top: 100%;
}
.contentText{
    margin-top: 5%;
    font-family: 'Mirage_Bold';
    font-size: 4.5vw;
}